{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AskPython</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link-css %}
    {% endblock link-css %}
</head>
<body>

{% include 'include/navbar.html' %}

<main>
    <div class="container">
        <div class="row">
            {% block left-side %}
                <div class="col-9 pr-5 mt-2">
                    {% block main-headings %}
                    {% endblock main-headings %}

                    {% block main-content %}
                    {% endblock main-content %}
                </div>
            {% endblock left-side %}

            <aside id="aside-info" class="col-3">
                {% block aside-right %}
                    <h2>Популярные теги</h2>
                    <div class="bg-light shadow-sm" id="tags-container">
                        <ul class="tags-list">
                            {% for tag in best_tags %}
                                <li><a href="{% url 'tag_questions' tag %}">{{ tag }}</a></li>
                            {% endfor %}
{#                            <li><a href="{% url 'tag_questions' tag="Django" %}">Django</a></li>#}
{#                            <li><a href="{% url 'tag_questions' tag="numpy" %}">numpy</a></li>#}
{#                            <li><a href="{% url 'tag_questions' tag="Flask" %}">Flask</a></li>#}
{#                            <li><a href="{% url 'tag_questions' tag="MySql" %}">MySQL</a></li>#}
{#                            <li><a href="{% url 'tag_questions' tag="Python" %}">Python</a></li>#}
{#                            <li><a href="{% url 'tag_questions' tag="Android" %}">Android</a></li>#}
{#                            <li><a href="{% url 'tag_questions' tag="verylooooongtagname" %}">verylooooongtagname</a></li>#}
{#                            <li><a href="{% url 'tag_questions' tag="iOS" %}">iOS</a></li>#}
{#                            <li><a href="{% url 'tag_questions' tag="Linux" %}">Linux</a></li>#}
                        </ul>
                    </div>

                    <h2>Лучшие пользователи</h2>
                    <div class="bg-light shadow-sm" id="best-users-container">
                        <ul>
                            {% for profile in best_profiles %}
                                <li><a href="#">{{ profile }}</a></li>
                            {% endfor %}
{#                            <li><a href="#">van_rossum_1956</a></li>#}
{#                            <li><a href="#">lutz_2k20</a></li>#}
{#                            <li><a href="#">let_robots_reign</a></li>#}
                        </ul>
                    </div>
                {% endblock aside-right %}
            </aside>

        </div>

        {% block pagination %}
        {% endblock pagination %}
    </div>
</main>

{% include 'include/footer.html' %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/d8773369b4.js" crossorigin="anonymous"></script>
<script src="{% static 'js/csrf.js' %}"></script>

{% block link-js %}
{% endblock link-js %}

</body>
</html>