{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <a id="main_label" class="navbar-brand" href='{% url 'root' %}'>
            <div>
                <h1 id="site-title">AskPython</h1>
                <img src='{% static 'img/python_logo.png' %}' alt="Логотип"/>
            </div>
        </a>

        <div class="input-group" id="search-box">
            <input class="form-control form-control-lg" type="search" placeholder="Введите запрос"
                   aria-label="Введите запрос">
            <span class="input-group-append">
                <button class="btn btn-lg btn-outline-secondary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>

        <div id="user-tools">
            <a href="{% url 'ask_question' %}" id="ask-question" class="btn btn-outline-success btn-lg text-success">
                Задать вопрос</a>

            {% if user.is_authenticated %}
                <img id="user-pic" src='{{ user.profile.profile_pic.url }}' alt="Аватар"/>

                <div id="user-dropdown" class="dropdown">
                    <a class="dropdown-toggle" href="#" id="user-menu" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.profile.nickname }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="user-menu">
                        <a class="dropdown-item" href="{% url 'settings' %}">Настройки</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                    </div>
                </div>
            {% else %}
                <a class="pr-2" href="{% url 'login' %}">Войти</a>
                <a href="{% url 'signup' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </nav>

</header>
