{% load static %}

<div class="question-card container bg-light shadow-sm">
    <div class="row">
        <div class="col-2 left-side">
            <img src="{{ question.author.profile_pic.url }}" alt="Аватар">
            <p class="user-nickname">{{ question.author.nickname }}</p>
            <div class="like-dislike">
                <button class="upvote-btn btn btn-secondary btn-circle"><i class="fas fa-chevron-up"></i>
                </button>
                <i class="post-rating">{{ question.rating }}</i>
                <button class="downvote-btn btn btn-secondary btn-circle"><i
                        class="fas fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="col-10 right-side">
            <h2 class="question-title"><a href="{% url 'question_page' pk=question.id %}">{{ question.title }}</a></h2>
            <p class="question-description">{{ question.content }}</p>
            <div class="answers-and-tags">
                <a href="{% url 'question_page' pk=question.id %}"
                   class="link-to-answers">Ответы({{ question.get_answers_count }})</a>
                <p class="question-tags">Теги:
                    {% for t in question.tags.all %}
                        <a href="{% url 'tag_questions' tag=t %}">{{ t }}</a>
                    {% endfor %}
                <p class="creation-date text-muted">Опубликовано: {{ question.creation_date }}</p>
            </div>
        </div>
    </div>
</div>