/* Sticky footer from Bootstrap documentation */
:root {
    --footer-height: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: var(--footer-height); /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height); /* Set the fixed height of the footer here */
    line-height: var(--footer-height); /* Vertically center the text there */
}

#main_label div {
    display: flex;
    align-items: center;
}

#site-title {
    margin-right: 10px;
}

#search-box {
    max-width: 50%;
}

#user-dropdown {
    display: inline-block;
}

#ask-question, #user-pic, #user-menu {
    margin-right: 16px;
}

#aside-info {
    margin-top: 50px;
}

#aside-info ul {
    list-style-type: none;
    padding: 20px;
}

.tags-list {
    overflow: hidden;
}

.tags-list li {
    float: left;
    margin-right: 10px;
}
