{% extends 'include/base.html' %}

{% load static %}

{% block link-css %}
    <link rel="stylesheet" href='{% static 'css/questions_list.css' %}'/>
{% endblock link-css %}

{% block main-headings %}
    <div class="headings">
        <h2>Горячие вопросы</h2>
        <h4><a href="{% url 'new_questions' %}">Новые вопросы</a></h4>
    </div>
{% endblock main-headings %}

{% block main-content %}
    {% for question in questions %}
        {% include 'include/one_question.html' %}
    {% endfor %}
{% endblock main-content %}

{% block pagination %}
    <nav>
        <ul class="pagination pagination-lg">
            <li class="page-item">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock pagination %}


{% block link-js %}
    <script src="{% static 'js/likes.js' %}"></script>
{% endblock link-js %}
